<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test page</title>
</head>
<body>
    <form action="/index" method="post" enctype="multipart/form-data">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <br><br>
        <label for="fullname">fullname</label>
        <input type="fullname" name="fullname" id="fullname">
        <br><br>
        <button type="submit" name="submit">submit</button>
    </form>
</body>
</html>